body {
  font-family: Alegreya Sans SC;
  background: #33331a;
}
.container {
  margin-top: 70px;
  width: 100%;
}
input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}
.todos li {
  background: #999900;
}
.delete {
  cursor: pointer;
}
.filtered {
  display: none !important;
}
